/* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700');

a:hover,
a:focus, a.link {
    color: #5686da;
}

.search-full, .search-input {
}

.search-close {
    color: #2980b9;
}

.btn-secondary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    color: white;
}

    .btn-secondary:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db3639+0,8f0222+62,6d0019+100 */
        background: #db3639; /* Old browsers */
        background: -moz-linear-gradient(top, #db3639 0%, #8f0222 62%, #6d0019 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #db3639 0%,#8f0222 62%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #db3639 0%,#8f0222 62%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3639', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
        color: white;
    }

.btn-primary, .btn-primary, .product:hover .add-fav:hover, .product:hover .add-fav.active {
    background: #285096; /* Old browsers */
    background: -moz-linear-gradient(top, #285096 0%, #1c3c72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #285096 0%,#1c3c72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #285096 0%,#1c3c72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#285096', endColorstr='#1c3c72',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background: #1b68ba; /* Old browsers */
        background: -moz-linear-gradient(top, #1b68ba 0%, #1c3c72 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1b68ba 0%,#1c3c72 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1b68ba 0%,#1c3c72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b68ba', endColorstr='#1c3c72',GradientType=0 ); /* IE6-9 */
        color: #FFFFFF;
    }

    .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        background: rgb(57, 105, 197);
    }
.NavBar-Branding {
    margin-bottom: 10px;
}
.navbar-tshop {
    background: transparent;
}

.navbar-top {
    background: rgb(26, 28, 43);
}

.site-color {
    color: #3498db !important;
}

.MatchBetting-NoBetsMessage {
    padding-left: 5px;
    color: #99a1bc !important;
}

.ToggleButton {
    color: white;
    padding-top: 3px;
    padding-right: 5px;
}

.navbar-nav > li > a {
    color: rgb(211, 211, 211);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
    background: #ececec;
    background: transparent;
    color: white;
}

.nav > li {
    /*border-left: #c9c9c9;
    border-left-style: solid;
    border-left-width: thin;*/
}

.navborderright {
    border-right: #c9c9c9;
    border-right-style: solid;
    border-right-width: thin;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
    /*background: rgb(236, 236, 236);*/
    background: transparent;
    color: white;
}

.dropdown-menu {
    border-top-color: rgb(168, 49, 49);
    border-top: solid rgb(168, 49, 49);
}

.search-box:hover .form-control {
    background: #3498db;
}

.search-box:hover .btn-nobg {
    color: #3498db;
}

.searchInputBox .search-btn {
    color: #fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: rgba(52, 152, 219, 0.7) !important;
}

.action-control a:hover, .action-control a.active {
    color: #fff;
    background: #2980b9;
}

.product:hover, .featuredImgLook2 .inner:hover {
    border: 1px solid #3498db;
}

.subCategoryList .thumbnail:hover {
    border: 1px solid #3498db;
}

.pager2 a {
    border: 1px solid #3498db;
}

    .pager2 a.selected {
        background: #3498db;
    }

.btn-discover, .btn-site, .newsLatterBox .btn {
    background: #1c3c72;
}

    .btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
        background: #1c3c72;
    }

.full {
    width: 100%;
}

.footer a:hover {
    color: #3498db;
}

.footer {
    /*border-top: solid 3px #3498db;*/
}

.modal-header {
    background: rgb(68, 85, 169);
}

.form-control:focus {
    border-color: #3498db;
}

.new-product {
    background: rgba(52, 152, 219, 0.95) !important;
}

#pager a.cycle-pager-active {
    background: rgba(52, 152, 219, 0.5);
}

/* tree menu */

.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
    background: none;
    color: #2a2a2a;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
    background: none;
    font-weight: bold;
    color: #2a2a2a;
}

.panel-default > .panel-heading {
    border-top: 4px solid #3498db;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    background: none;
    font-weight: 600;
    color: rgb(255, 255, 255) !important;
    border-bottom: 2px solid #386acc;
}

.nav-tabs {
    border-bottom-color: rgb(28, 45, 103);
    border-bottom: none;
}

.socialIcon a:hover {
    background: #3498db;
}



.cart-actions button, .cart-actions .wishlist {
    background: none repeat scroll 0 0 #3498db;
    border: 2px solid #2980b9;
}

    .cart-actions button:hover {
        background: #fff;
        color: #2a2a2a;
        border: solid 2px #3498db;
    }

.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
    border: 2px solid #3498db !important;
}

.promo-1 {
    background: none repeat scroll 0 0 #2980b9;
}

.SelectionLink {
    overflow: hidden;
    color: white !important;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    height: 100%;
}

@media (max-width: 767px) {
    .miniCartFooter {
        background: #2980b9 !important;
    }
}


#pager2 span.cycle-pager-active {
    background: #2980b9 !important;
}

.SelectionRowContainer {
    width: 60px !important;
}

#pager2 span {
    border: 2px solid #2980b9;
}

.RaceViewTable {
    margin-bottom: 10px !important;
    color: white !important;
}

.orderStep li.active a {
    background: #3498db;
}

    .orderStep li.active a:after {
        border-top-color: #3498db !important;
    }

.orderStep li a {
    background: #2c88c5;
}

.darkcoilor {
    background: #2c88c5;
}

.citecolor {
    color: #3498db !important;
}

.ContentBackground {
    background: #fafbfe;
}

.BodyBackground {
    background: url(./../images/background.jpg) top center no-repeat;
    background-attachment: fixed;
    background-color: #1B2034;
}

.innersubmenu {
    background: rgb(255,255,255);
    border-bottom: #c9c9c9;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

ul.nav {
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: inline-block;
}

.breadcrumb1 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 33px;
    margin-bottom: 14px;
    position: relative;
    background: #fff;
    border: 1px solid #e1e1e1;
    font-size: 12px;
    z-index: 10;
}

.ibox {
    border: 1px solid #556aac;
    border-bottom: 1px solid black;
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.GrayLi li > ul > li > a {
    color: #6f6f6f !important;
}

    .GrayLi li > ul > li > a:hover {
        text-decoration: none;
    }

.SideNav-ibox {
    background: white;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

.promobox-140 {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    background-color: rgb(52, 55, 76);
    color: white;
    margin-bottom: 0;
    padding: 18px 18px;
    height: 40px;
    background: rgb(39, 63, 138);
}

.ibox-title-roundedgradient {
    border-color: rgb(95, 97, 119);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgb(52, 55, 76);
    border: 1px solid #5f6177;
    border-width: 1px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    margin-bottom: 0;
    padding: 23px 17px 7px;
    height: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f6177+0,34374c+100 */
    background: linear-gradient(rgb(39, 82, 165) 0px, rgb(5, 32, 87) 100%) no-repeat;
    border-top: 2px solid #34488a;
    border-bottom: 1px solid rgb(13, 14, 25);
    text-shadow: 1px 1px #000000;
}

.SideNav-ibox-title {
    background-color: rgb(52, 55, 76);
    border-width: 1px 0px 0px;
    background: white;
    color: rgb(104, 104, 104);
    margin-bottom: 0;
    padding: 16px 22px;
    height: 45px;
}


.ibox-title-MatchBetting {
    border-color: rgb(95, 97, 119);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgb(52, 55, 76);
    border: 1px solid #5f6177;
    border-width: 1px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    margin-bottom: 0;
    padding: 14px 24px 7px;
    height: 80px;
    background: linear-gradient(rgb(39, 82, 165) 0px, rgb(5, 32, 87) 100%) no-repeat;
    border-top: 2px solid #34488a;
    border-bottom: 1px solid rgb(13, 14, 25);
    text-shadow: 1px 1px #000000;
}

.Ibox-MatchBetting-Title {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 20px !important;
}

.Ibox-MatchBetting-Description {
    color: rgb(255, 255, 255);
    font-size: 12px !important;
}

.HorseRace-Title {
    color: rgb(255, 255, 255);
    font-size: 22px !important;
    margin-bottom: 8px;
}

.HomePage-HorseRace-Title {
    color: rgb(255, 255, 255);
    font-size: 16px !important;
}

.HorseResult-Title {
    color: rgb(255, 255, 255);
    font-size: 18px !important;
}

.HorceRace-Description {
    color: rgb(255, 255, 255);
    font-size: 13px !important;
}

.BetSlip-StakeInput {
    text-align: center;
    margin-right: 5px;
    height: 25px !important;
    width: 60px !important;
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 0 !important;
}

.Betslip-deletebtn:hover {
    color: white;
    background: rgb(222, 84, 84);
}

.BetSlip-Price {
    font-size: 14px;
    font-weight: 800;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.SideNav-ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 0px;
    padding-bottom: 15px;
}

.BetSlip-Wagers-Title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    color: #428bca;
    letter-spacing: 2px;
}

.BetSlip-SelectionReturntext {
    font-size: 10px;
    color: rgb(99, 106, 128);
    font-weight: 500;
}

.BetSlip-Wager-Container {
    padding-left: 8px;
    padding-right: 5px;
}

.ibox-promo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Betslip-deletebtn {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    background: rgb(189, 55, 55);
    width: 27px;
    height: 22px;
}



.wrapper-content {
    padding: 20px 10px 20px;
}

.breadcrumbs__navigation {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 0 0 3px;
    width: auto;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: inline-block;
    position: relative;
    background-color: rgb(249, 249, 249);
    border-right: 1px solid #e1e1e1;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    color: #1b1c1c;
    font-weight: 700;
}

    .breadcrumbs__navigation:hover {
        background-color: rgb(245, 245, 245);
    }

.breadcrumbs__navigation2 {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 0 0 3px;
    width: auto;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: inline-block;
    position: relative;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    color: #1b1c1c;
    font-weight: 700;
}

.breadcrumbs__container, .breadcrumbs__navigation {
    text-align: center;
    width: 178px;
    cursor: pointer;
    padding: 5px;
    float: left;
    height: 100%;
}

.breadcrumbs__container, .breadcrumbs__navigation2 {
    padding: 5px;
    float: left;
}

.breadcrumbs_text {
    font-size: 13px !important;
    color: #707070 !important;
    font-weight: lighter !important;
}

#SideNav {
    display: block;
    color: #505050;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SideMenuContent {
    padding: 10px;
    padding-left: 18px;
    display: block;
    color: #505050;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MeetingTime > a {
    color: #595959;
    font-weight: 600;
    text-shadow: 1px 1px #ffffff;
}

    .MeetingTime > a:hover {
        color: #2c6cdb;
        font-weight: 900;
        text-decoration: none;
    }

.SideNav > li > a {
    color: #777 !important;
    font-size: 13px;
    text-decoration: none;
}



    .SideNav > li > a:hover {
        font-weight: 600;
    }


.SideNav > li {
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    padding: 7px 22px;
    font-weight: normal;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); */ /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}


.OddsTable > .table > tbody > tr > .EventNameRow {
    vertical-align: middle;
    padding: 14px;
    padding: 14px;
    border-bottom: 2px solid #11131d;
    font-size: 13px;
    border-top: 1px solid #34488a;
    background: #20326f; /* Old browsers */
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
}

.OddsTable > .table > tbody > tr > .SelectionRow, .OddsTable > .table > tbody > tr > .SelectionRowSelected {
    vertical-align: middle;
    padding: 14px;
    padding: 14px;
    border-bottom: 2px solid #11131d;
    border-top: 1px solid #fff;
}



.OddsTable > .table > tbody > tr > td:hover {
    background: #284291; /* Old browsers */
    background: -moz-linear-gradient(top, #284291 1%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #284291 1%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #284291 1%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284291', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
}

.HomePageRaceTable > .table > tbody > tr > td:hover {
    background: #284291; /* Old browsers */
    background: -moz-linear-gradient(top, #284291 1%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #284291 1%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #284291 1%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284291', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
}

.BlueRow {
    background: #20326f; /* Old browsers */
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
}


.CarouselBorder {
        border: 1px solid #1d2e68 !important;
}
.EventNameRow {
    width: 550px;
}

.OddsTable > .table > tbody > tr > th {
    border-top: none !important;
    font-weight: 400;
    font-size: 12px;
    color: #99a1bc;
}

.OddsTable > .table {
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.SelectionRow {
    cursor: pointer;
    border-left-color: rgb(136, 136, 136);
    border-left: 1px solid #000;
    font-family: Exo, sans-serif;
    font-size: 14px;
    padding: 0px;
    color: black;
    font-weight: 900;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
}

.SelectionRowSelected {
    cursor: pointer;
    border-left-color: rgb(136, 136, 136);
    border-left: 1px solid #000;
    font-family: Exo, sans-serif;
    font-size: 14px;
    padding: 0px;
    color: black;
    font-weight: 900;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #ffffff;
    background: #d4d5d6 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #d4d5d6 0%, #d9dde0 50%, #bfc4c9 51%, #dedfe0 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4d5d6 0%,#d9dde0 50%,#bfc4c9 51%,#dedfe0 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4d5d6 0%,#d9dde0 50%,#bfc4c9 51%,#dedfe0 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d5d6', endColorstr='#dedfe0',GradientType=0 ) !important; /* IE6-9 */
    copy;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #1f316c;
}

.SelectionRowSingle {
    font-family: Exo, sans-serif;
    font-size: 14px;
    padding: 0px;
    color: black;
    font-weight: 900;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
}

.MarketNumberRow {
    font-family: Exo, sans-serif;
    font-size: 14px;
    padding: 14px;
    height: 55px;
    border-top: 1px solid #e1e1e1 !important;
    border-bottom: 1px solid #11131d !important;
    color: black;
    font-weight: 900;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
}

SelectionRow {
    font-family: Exo, sans-serif;
    font-size: 14px;
    padding: 0px;
    border-right: 1px solid #1a1c2b !important;
    border-top: 1px solid #e1e1e1 !important;
    border-bottom: 3px solid #11131d !important;
    color: black;
    font-weight: 900;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
}

.MoreRow {
    text-align: center;
    text-overflow: ellipsis;
    background: none !important;
    color: #8f9cad !important;
    padding: 14px 2px 2px !important;
    text-shadow: none;
    font-size: 10px !important;
    border-top: none !important;
    border-bottom: none !important;
}

    .MoreRow:hover {
        font-weight: 900;
    }

    .MoreRow > a {
        vertical-align: middle;
        margin-top: 10px;
        color: #8f9cad !important;
    }

        .MoreRow > a:hover {
            color: #6f9edc !important;
        }

.SelectionRow:hover {
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 51%, #efefef 51%, #f7f7f7 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 51%,#efefef 51%,#f7f7f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 51%,#efefef 51%,#f7f7f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ) !important; /* IE6-9 */
}

.TimeRow {
    color: #8da4c2;
    text-shadow: none;
    padding-right: 10px;
}

.NavBarTop {
    margin-bottom:0 !important;
}



.SubNavLinkContainer {
    padding-left: 0; padding-right: 0;
     margin-bottom:-6px; height:56px !important;
      font-family: 'Exo', sans-serif, sans-serif !important;
       font-weight:300 !important;
}

.NavBar-MegaMenuSports {
    padding-top: 30px;
}

.NavBar-SportsDropdownButton {
    background:#F5F5F5;
    margin-top:1px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color: #212435 !important;
}

.NavBar-SportsDropdownButton-Text {
    color:#212435 !important;
    text-shadow: 2px 2px rgb(255, 255, 255) !important;
}

.NavBar-BrandingContainer {
    padding-top:25px;
}

.NavBar-OddsTypeText {
    font-weight: 300;
}

.MatchBetting-MarketName {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-color: rgb(19, 32, 76);
    height: 45px;
    vertical-align: middle;
    padding: 14px;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    height: 100%;
    padding: 7px 12px 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    border-bottom: 2px solid #11131d;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    border-top: 1px solid #34488a !important;
    background: #20326f; /* Old browsers */
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
}

.MarketOverview-MarketName {
    vertical-align: middle;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    padding: 14px;
    border-bottom: 1px solid #000;
    font-size: 14px;
    height: 55px;
    border-top: 1px solid #34488a;
    background: #20326f;
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%);
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%);
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 );
}

.MarketOverview-Container {
    background: rgb(48, 50, 71);
}

.MarketOverview-SelectionBullet {
    padding-right: 5px;
}

.MarketOverview-Glyphicon {
    padding-top: 3px;
    float: right;
    padding-right: 5px;
}

.MatchBetting-MarketName:hover {
    background: #284291; /* Old browsers */
    background: -moz-linear-gradient(top, #284291 1%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #284291 1%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #284291 1%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284291', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
}

.MatchBetting-SelectionsSection {
    background-color: white;
}

.MatchBetting-Market-Container {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.BettingOverview-Market-Container {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
}


.MatchBetting-Selection {
    cursor: pointer;
    height: 35px;
    background: white;
    color: black;
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 39%, #f7f7f7 73%, #e8e8e8 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 39%,#f7f7f7 73%,#e8e8e8 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 39%,#f7f7f7 73%,#e8e8e8 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ) !important; /* IE6-9 */
    padding: 6px 11px;
    margin-bottom: 1px;
    vertical-align: middle;
    border-right: 1px solid #000;
    vertical-align: middle;
}

.MatchBetting-Link {
}

.MatchBetting-Selection-Selected {
    text-shadow: white 1px 1px;
    cursor: pointer;
    height: 35px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,adadad+100 */
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #adadad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#adadad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e5e5 0%,#adadad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
    color: black;
    padding: 6px 11px;
    margin-bottom: 1px;
    vertical-align: middle;
}

.BettingOverview-Market {
    cursor: pointer;
    height: 35px;
    background: white;
    color: black;
    font-size: 11px;
    padding: 6px 11px;
    border-bottom: 1px solid #969696;
    vertical-align: middle;
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 39%, #f7f7f7 73%, #e8e8e8 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 39%,#f7f7f7 73%,#e8e8e8 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 39%,#f7f7f7 73%,#e8e8e8 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ) !important; /* IE6-9 */
}

    .BettingOverview-Market:hover {
        background: linear-gradient(to bottom, #ffffff 0%,#efefef 39%,#e2e2e2 73%,#d5d5d5 100%) !important;
    }

    .BettingOverview-Market > a {
        color: #000;
    }

.MarketOverview-Market {
    cursor: pointer;
    height: 35px;
    background: white;
    color: black;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
    padding: 6px 11px;
    margin-bottom: 1px;
    vertical-align: middle;
}


.BettingOverview-CouponName {
    font-weight: 300;
    font-size: 13px;
    color: #99a1bc;
    padding: 6px 0px;
    margin-left: -7px;
}

.MarketOverview-Selection {
    cursor: pointer;
    height: 35px;
    color: black;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
    padding: 6px 11px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.MatchBetting-Odds {
    font-family: 'Exo', sans-serif !important;
    float: right;
    color: rgb(189, 21, 21);
    text-shadow: 1px 1px #fff;
}

    .MatchBetting-Odds > a {
        font-family: 'Exo', sans-serif !important;
        float: right;
        color: rgb(189, 21, 21);
        text-shadow: 1px 1px #fff;
    }

.Three {
    width: 33.03% !important;
    display: inline-block;
}

.Two {
    width: 49.68% !important;
    display: inline-block;
}

.EventNameRow > a:hover {
    text-decoration: none !important;
}

.MatchBetting-Selection:hover {
    background: linear-gradient(to bottom, #ffffff 0%,#efefef 39%,#e2e2e2 73%,#d5d5d5 100%) !important;
}

.HorseRacing-RaceTimes {
    /*border-top: 1px solid #fff !important;
    border-bottom: 2px solid #11131d;*/
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    padding: 7px;
    padding-left: 17px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    color: black !important;
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 39%, #f7f7f7 73%, #e8e8e8 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 39%,#f7f7f7 73%,#e8e8e8 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 39%,#f7f7f7 73%,#e8e8e8 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ) !important; /* IE6-9 */
}

.HorseRacing-MarketName {
    border-bottom-color: rgb(19, 32, 76);
    vertical-align: middle;
    padding: 7px;
    padding-left: 17px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    Height: 100%;
    letter-spacing: 1px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
}

.HorseRow {
    background: #20326f; /* Old browsers */
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 ); /* IE6-9 */
    border-bottom: 2px solid #11131d;
}

.HorseSelectionNumber {
    color: rgb(187, 196, 223);
    text-shadow: none;
    padding-right: 30px;
    padding-left: 10px;
}

.HorseSelectionNum {
    width: 45px;
}

.Home-HorseSelectionNumber {
    color: rgb(187, 196, 223);
    text-shadow: none;
    padding-left: 3px;
    padding-top: 4px;
    font-size: 9px;
    width: 10px;
}

.HomePage-RaceInfo {
    border-bottom: 2px solid black;
    width: 100%;
    background: rgb(31, 52, 117);
    padding: 12px 14px 9px 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.HomePageRaceTable > .table > tbody > tr > td {
    border-bottom-width: 2px;
    vertical-align: middle;
    border-bottom: 2px solid #11131d;
    font-size: 13px;
    border-top: 1px solid #34488a;
    background: #20326f;
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%);
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%);
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 );
}


.ibox-dark {
    background-color: rgb(26, 29, 54) !important;
    border-color: #0f0f0f !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.MeetingTabs {
    padding-top: 10px;
}

.HomePageRaceTable-JockeyDetails {
    color: rgb(187, 196, 223);
    text-shadow: none;
    font-size: 10px;
}

.NextRaces-Container {
    padding-left: 15px;
    padding-right: 15px;
}

.HomePage-Footer-Text {
    color: rgb(187, 196, 223);
}

.HomePage-Footer-Icon {
    padding-left: 5px !important;
}

.HomePage-RaceContainer {
    padding-right: 5px;
    padding-left: 5px;
}

.HomePage-Footer {
    text-align: right;
    padding-right: 18px;
}

.HomePage-JockeyContainer {
    margin-top: -2px;
}


.HomePage-SelectionRow {
    width: 60px;
}


.HomePage-SilkSection {
    padding: 0px 8px;
}

.MeetingTime {
    padding-right: 15px;
}

.Home-HorseSelectionName {
    min-width: 100px;

}

.breadcrumbs__navigation > h4 > a {
    color: rgb(112, 112, 112);
}

    .breadcrumbs__navigation > h4 > a:hover {
        text-decoration: none;
        font-weight: 700;
    }

.lblue {
    color: #afd9f6 !important;
}

.Horse-Race-Description-Darker {
    padding-right: 15px;
    color: rgb(187, 196, 223);
}


.RaceInfo {
    border-bottom: 3px solid black;
    width: 100%;
    background: #203579;
    padding: 16px;
    padding-top: 20px;
    text-transform: uppercase;
}


.ResultInfo {
    border-bottom: 3px solid black;
    width: 100%;
    background: rgb(13, 24, 59);
    padding: 16px;
    padding-top: 20px;
    text-transform: uppercase;
}




.btn-width-30px {
    width: 30px;
}

.form-control {
    border: #ddd 2px solid !important;
    box-shadow: none;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}


.Padding-Left-15 {
    padding-left: 15px;
}


@media (min-width: 992px) {
    .edit-form {
        width: 500px;
    }
}

.colour-1st {
    color: #bc8a11;
}

.colour-2nd {
    color: #7a7a7a;
}

.colour-3rd {
    color: #a16b59;
}

.SelectionRow > a, .SelectionRowSelected > a {
    color: rgb(33, 33, 33) !important;
    font-weight: 400;
}

.MarketOverview-MarketName > a {
    color: white;
}

.sidenav-container {
    padding-left: 0px;
}

.content-container {
    padding-left: 0px;
    padding-right: 0px;
}


@media (max-width: 1199px) and (min-width: 992px) {
    .HomePage-SilkSection {
        display: none !important;
    }
}

.BetSlip-ibox {
    background: white;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

.BetSlip-ibox-title {
    background-color: rgb(39, 63, 138);
    border-width: 1px 0px 0px;
    color: rgb(241, 245, 247);
    margin-bottom: 0;
    padding: 10px 22px;
    height: 40px;
}

.BetSlip-ibox-title-clear {
    background-color: #fff;
    border-width: 1px 0px 0px;
    color: rgb(241, 245, 247);
    margin-bottom: 0;
    padding: 10px 22px;
    height: 40px;
}

.BetSlip-ibox-content {
    background-color: rgb(255, 255, 255) !important;
    padding: 10px 0px 15px;
    padding-bottom: 15px;
}

.BetSlip-SelectionContainer {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    color: rgb(16, 38, 107);
    padding: 5px 8px 0px;
    font-family: Lato,sans-serif !important;
}

.BetSlip-SelectionContainer-Empty {
    font-size: 12px;
    color: rgb(16, 38, 107);
    padding: 5px 10px;
    font-family: Lato,sans-serif !important;
}

.BetSlip-Subtitle {
    font-weight: 500;
    text-transform: none;
    font-size: 10px;
    margin-top: -5px;
    color: rgb(75, 79, 93);
}



.SelectionImage {
    width: 45px;
}

.navbar-collapse.collapse {
    height: 56px !important;
}


.navbar-collapse.collapse {
    height: 56px !important;
}


.InfoNav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.BrandingImage {
content:url("/Content/images/TopNav/TopNav-TF.png");
}

.BrandingImage-Dark {
content:url("/Content/images/TopNav/TopNav-TF-Dark.png");
}




.Horses-HorseSelectionNumber {
    color: rgb(163, 163, 163) !important;
}

.Greyhounds-SilkContainer {

    /*TODO*/
      border-bottom: 2px solid #11131d;
    border-top: 1px solid #34488a !important;
    background: #20326f;
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%);
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%);
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 );



}

.Horses-SilkContainer {
    /*TODO*/

    border-bottom: 2px solid #11131d;
    border-top: 1px solid #34488a !important;
    background: #20326f;
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%);
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%);
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 );


}


.Horses-SelectionContainer {
    /*MOVE TO SKIN CSS*/
      border-bottom: 2px solid #11131d;
    border-top: 1px solid #34488a !important;
    background: #20326f;
    background: -moz-linear-gradient(top, #20326f 0%, #17285e 100%);
    background: -webkit-linear-gradient(top, #20326f 0%,#17285e 100%);
    background: linear-gradient(to bottom, #20326f 0%,#17285e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20326f', endColorstr='#17285e',GradientType=0 );

    border-left: 1px solid black !important;
}

.side-navigation {
    /*TODO*/
    border-right: 1px solid black;
    background: #0d1c4f;
}

.side-navigation > ul > li > a {
    color: white;

}

.side-navigation-Title {
    color: #fff;
    text-shadow: 2px 2px black;
}

 .Mobile-Menu-Item {
     padding-top: 7px;
     cursor: pointer;
     text-align: center;
     height: 60px;
     font-size: 12px;
     background: #273f8a;
     color: #000;
     border-right: 1px solid #000;
     border-top: 1px solid #000;
 }

 .Mobile-Menu-Text:hover {
    color: rgb(206, 57, 57) !important;
}

 .Horses-HorseSelection-Text {

    text-shadow: none;
    padding-left: 3px;
    padding-top: 4px;
    font-size: 12px;
    width: 10px;
}

 .footer-bottom p.pull-left {

    color: #79839f;
}

 a:visited
{
    text-decoration: none;
    decoration: none;
    border-color: #34488a !important;
}


@media (max-width: 330px) {
.BrandingImage {
    width: 100%;
    height: auto;
}

}


@media (max-width: 992px) {

    .wrapper-content {
    padding: 0 10px 0px;


}

     .content-container-white {
        background: #fafbfe !important;

    }


.SideNav-ibox {
    background:none !important;
    border: 1px solid #0a1b4b;
    margin-bottom: 15px;
    color: white !important;
}

.SideNav-ibox-title {
    background: #1f3475  !important;
    color: white !important;
}

.SideNav-ibox-content {
    background: #1f3475  !important;
}

.SideNav > li {
    background: none !important;
    color: white !important;
    border-bottom: none !important;

}

.SideNav > li > a {
    color: #fff !important;
}

.breadcrumb1 {

    background: #273f8a;
    border: 1px solid #556aac;
    margin-bottom: 0;
    border-bottom: none;
}

.breadcrumbs_text {
    color: white !important;
}

.breadcrumbs__navigation {

    background-color: #2b438f !important;
    border-right: 1px solid #152d71;


}

.breadcrumbs__navigation > h4 > a {
     color: white !important;

}


}

.ibox-content > .table thead > tr > th, .ibox-content > .table tbody > tr > th, .ibox-content > .table tfoot > tr > th,
.ibox-content > .table thead > tr > td, .ibox-content > .table tbody > tr > td, .table tfoot > tr > td {
    background: #fafbfe;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f1f3f9;
}


 #Submenu-Nav-scroll > .container > .navbar-collapse.collapse {
    height: 67px !important;
}

 .MoreRow {
     Vertical-align: top !important;
}


 .Scroll-Icon-Image {
    content: url(/Content/images/TopNav/Icon-TF.png);
    max-width: 42px;
    margin-top: 9px;
    margin-right: 20px;
    display: inline-block;
}

.Scroll-SubNavLinkContainer > .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
}

.top-navbar-fixed {
    background: rgb(39, 63, 138) !important;
    border-bottom: 1px solid #000 !important;
    z-index: 9;
}

.heading { border-bottom: 1px solid #999; margin-bottom: 10px; display: block; }