@charset "utf-8";

/* IMPORT CSS
/* =============================================================== */

@import url("owl.carousel.css");
/* owl.carousel */
@import url("owl.theme.css");
/* owl.carousel */
@import url("font-awesome.css");
/* Font Awesome Icon */
@import url("animate.min.css");
/* css3 animation */
@import url("jquery.mCustomScrollbar.css");
/* mCustomScrollbar */
@import url("alpha.css");
/* Background opacity IE fix */
@import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css");
/* jQuery Custom Select by select2 */
@import url("smoothproducts.css");

@import url("btn.css");
/* Template Theme color skin */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700');

/* google webfont */

/* =============================================================== */
/* FOUNDATION
/* =============================================================== */

a {
    text-decoration: none;
    outline: none !important;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: white;
}



    a:hover, a:focus {
        text-decoration: none;
        cursor: pointer;
    }

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #454545;
    font-family: Lato,sans-serif;
    line-height: 21px;
    position: relative;
    background: #1c2030;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-font-smoothing: antialiased !important;
}

/* =============================================================== */
/* TYPOGRAPHY + GLOBAL CLASS
/* =============================================================== */

h1, h2, h3, h4, h5, h6 {
    font-family: Lato,sans-serif;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 30px;
    line-height: 35px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-size: 17px;
    line-height: 20px;
}

h5 {
    font-size: 13px;
    line-height: 7px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

p.lead {
    font-size: 20px;
    line-height: 1.4;
}

h3 code {
    font-size: 14px;
    font-weight: normal;
}

/* Helper class */
.error label.error {
    color: red;
}

.section-block {
    margin-bottom: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-border {
    border: 0;
}

.width100, .w100 {
    width: 100%;
}

.width50, .w50 {
    width: 100%;
    display: block;
}

.full-container {
    width: 100%;
    display: block;
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}




.transitionfx {
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
}

.hw100 {
    height: 100%;
    width: 100%;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* ================================================================== */
/* CUSTOMIZE THE BOOTSTRAP MODAL + INPUT FORM ELEMENT + BUTTON + ALERT
/* ================================================================== */
.modal {
    overflow: auto;
}

.signUpContent .modal-dialog {
    max-width: 460px;
}

.modal-dialog.modal-xs {
    max-width: 460px;
}

#product-details-modal .modal-dialog {
    background: #fff;
    max-width: 960px;
    overflow: auto;
    width: 100%;
}

.modal-dialog .product-share {
    border-top: 0 none;
    margin-top: 0;
}

.modal-dialog .modal-product-thumb {
    padding-top: 15px;
}

.modal-dialog {
    /*background: #fff;*/
    max-width: 960px;
    overflow: auto;
    width: 100%;
}

.modal-header {
    border-bottom: 1px solid #E5E5E5;
    color: #FFFFFF;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.modal-title-site {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: lighter;
    padding: 13px 0;
    text-transform: uppercase;
}

.modal-content {
    border: 0 solid #ddd;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.modal-footer {
    background: #eee;
    border-top: 1px solid #E5E5E5;
    padding: 10px 20px;
}

.form-control:focus {
    box-shadow: NONE;
    outline: 0 none;
}




.pagination li.active a {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2) inset;
}

.checkbox {
    padding-left: 0;
    margin-left: 0;
}


.input-group-btn .btn {
    font-size: 14px;
    padding: 8px 12px;
}

/* =============================================================== */
/* CUSTOMIZE NAVBAR
/* =============================================================== */
.navbar-toggle {
    background: rgba(0, 0, 0, 0.2);
}

.navbar-tshop {
    width: 100%;
}

.menuWrap {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.brandWrap {
}

.navbar-brand {
    padding: 10px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
}

.navbar .navbar-top {
    height: 30px;
    transition: all 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}

.navbar.stuck .navbar-top {
    margin-top: -30px;
}

.brandWrap {
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    height: auto;
}

/***  ------- Mega Menu Start ------- ***/
.megamenu .nav, .megamenu .dropup, .megamenu .dropdown, .megamenu .collapse {
    position: static;
}

.megamenu .navbar-inner, .megamenu .container {
    position: relative;
}

.megamenu .dropdown-menu {
    left: auto;
}

    .megamenu .dropdown-menu > li {
        display: block;
    }

.megamenu .nav.pull-right .dropdown-menu {
    right: 0;
}

.megamenu .megamenu-content {
    padding: 20px 30px;
    *zoom: 1;
}

    .megamenu .megamenu-content:before, .megamenu .megamenu-content:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .megamenu .megamenu-content:after {
        clear: both;
    }

.megamenu.navbar .nav > li > .dropdown-menu:after, .megamenu.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
}

.megamenu .dropdown.megamenu-80width .dropdown-menu {
    width: 80%;
    left: 0;
    right: 0;
}

.megamenu .dropdown.megamenu-80width .dropdown-menu {
    width: 80%;
    left: 0;
    right: 0;
}

.megamenu .dropdown.megamenu-50width .dropdown-menu {
    width: 50%;
    left: 0;
    right: 0;
}

.megamenu .dropdown.megamenu-40width .dropdown-menu {
    width: 40%;
    left: 0;
    right: 0;
}

.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
}

@media (max-width: 969px) {
    .megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
        width: auto;
    }

    .megamenu .megamenu-content {
        padding-left: 0;
        padding-right: 0;
    }

    .megamenu .dropdown-menu > li > ul {
        display: block;
    }
}

/* megamenu end */

.megamenu-content img {
    max-width: 100%;
}

.megamenu-content ul li {
    /*border-bottom: 1px solid #EDEDED;*/
    margin-bottom: 5px;
    padding-bottom: 5px;
}

    .megamenu-content ul li a {
        font-size: 12px;
    }

.itemInMenu {
    margin-bottom: 0 !important;
}

    .itemInMenu .image {
        max-height: 170px !important;
    }

.margin-top-10 {
    margin-top: 10px;
}


.navbar-toggle .icon-bar {
    border: solid 2px #fff;
}

.userMenu > li {
    display: block;
    float: left;
}

    .userMenu > li > a {
        color: rgb(98, 98, 98);
        display: block;
        float: right;
        font-size: 11px;
        line-height: 30px;
        padding: 0 20px 0 0;
        text-decoration: none;
        transition: opacity 0.2s ease-out 0s;
        -webkit-transition: opacity 0.21s ease-out 0s;
        -moz-transition: opacity 0.2s ease-out 0s;
        -ms-transition: opacity 0.2s ease-out 0s;
        -o-transition: opacity 0.2s ease-out 0s;
    }

        .userMenu > li > a:hover {
            opacity: 0.9;
        }


.hasUserMenu > .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    left: auto !important;
    right: 0 !important;
}

    .hasUserMenu > .dropdown-menu > li > a {
        color: #454545;
        font-size: 12px;
        padding: 5px 15px;
    }

        .hasUserMenu > .dropdown-menu > li > a i {
            margin-right: 10px;
        }

/***  ------- Main Navigation onhover issue for ipad and mobile ------- ***/

@media (min-width: 979px) {
    .navbar-tshop ul.nav li.dropdown ul.dropdown-menu {
    }

    .navbar-tshop ul.nav li.dropdown:hover ul.dropdown-menu, div.cartMenu.dropdown:hover div.dropdown-menu {
        display: block;
        filter: none;
        opacity: 1;
    }

    .megamenu-content ul li a {
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        display: block;
    }

        .megamenu-content ul li a:hover {
            padding-left: 5px;
        }

        .megamenu-content ul li.productPopItem a:hover, .megamenu-content ul li a.newProductMenuBlock:hover {
            padding-left: 0;
        }

    .navbar.stuck .brandWrap {
        height: 0;
        overflow: hidden;
    }
}

.navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 14px;
    /*font-weight: 600;*/
    text-transform: uppercase;
}



.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}



.phone-number span {
     float: left;
}

.img-link {
    display: block;
    overflow: hidden;
}

    .img-link img {
        width: 100%;
    }



/* =============================================================== */
/*  FOOTER
/* =============================================================== */


.footer {
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}

    .footer p {
        color: rgb(139, 139, 158);
        margin: 0;
    }

    .footer img {
        max-width: 100%;
    }

    .footer h3 {
        border-bottom-color: rgb(50, 53, 71);
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        padding: 40px 0 0px;
        text-transform: uppercase;
        color: rgb(139, 139, 158);
    }

    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 20px;
        color: #888888;
    }

        .footer ul li a {
            padding: 0 0 5px 0;
            display: block;
        }

    .footer a {
        color: rgb(139, 139, 158);
    }

.breadcrumb {
    border: 1px solid #DDDDDD;
    background: none;
}

.main-container {
    /*min-height: 580px;*/
    min-height:inherit;
}

.wrapper-content .well-sm {
    padding:15px;
 }

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs li a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 0;
    text-transform: uppercase;
    color: rgb(143, 143, 143);
}


/* =============================================================== */
/* WEB PAGE PROGRESS BAR CSS
/* =============================================================== */

.pace .pace-progress {
    background: #fff;
    background: rgba(255, 255, 255, 0.80);
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}

/* carousel-inner */

.carousel-inner > .item {
    height: auto;
    margin-bottom: 0;
}

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        margin: 0 auto;
        display: block;
    }

/* OWL PAGINATION ARROW */

.owl-theme .owl-controls .owl-has-nav {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    height: 22px;
    position: relative;
    width: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 1;
}

.owl-has-nav:hover {
    opacity: .5;
}

.owl-has-nav i {
    position: absolute;
    top: 0;
}

.owl-has-nav.owl-next i {
    right: 0;
}

.owl-has-nav.owl-prev i {
    left: 0;
}


.white-bg {
    background: #fff;
}

.featherlight .featherlight-content {
    min-width: 500px;
}

.promobanner-textcontainer {

    padding: 8px 13px;

    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    left: 0;
    bottom: 0;


}


.sidepromobanner-textcontainer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    bottom: 0;


}

.promo-active-container {
    display: inline-block;
    padding: 5px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: #5cb85c;
    border: 1px solid #2c7c2c;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-left: none;
    left: 0;
    top: 0;

}

.promo-disabled-container {
    display: inline-block;
    padding: 5px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: #d9534f;
     border: 1px solid #8b2926;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 5px;
    left: 0;
    top: 0;

}

.promo-expired-container {
    display: inline-block;
    float: right;
    padding: 5px;
    width: 90px;
    text-align: center;
    color: red;
    background-color: white;
     border: 1px solid black;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 5px;


    left: 95px;
    top: 0;

}

.promo-scheduled-container {
    display: inline-block;
    float: right;
    padding: 5px;
    width: 100px;
    text-align: center;
    color: #0275d8;
    background-color: white;
     border: 1px solid black;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 5px;


    left: 95px;
    top: 0;

}



.promobanner-textcontainer-small {
    padding: 10px;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    left: 0;
    bottom: 0;
    text-align: center;
}

.promobanner-title {
    font-family: 'Exo';
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500 !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}




.promobanner-description {
    display: block;
    font-family: 'Exo';

    font-size: 12px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 300 !important;
}



.promobanner-moreinfo {
    display: inline-block;
    font-family: 'Exo';
    font-size: 10px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    font-weight: 300 !important;
}

.sidepromobanner-moreinfo {

    font-size: 10px;
    font-weight: 300 !important;
}

.promobanner-container {
    height: 210px;
    width: 100%;
    position: relative;
    background: top;
}

.sidepromobanner-container {
    display: table;
    height: 190px;
    width: 100%;
    position: relative;
    text-align: center;
    background: center;
    height: 190px;
    width: 100%;
    position: relative;
    background-size: auto 100%;
}

.sidepromo-textcontainer {
    display: table-cell;
    vertical-align: middle;
        background-color: rgba(0,0,0,.2);
    padding: 15px;

   font-family: 'Exo';
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 900 !important;
    text-shadow:
               -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000,
               1px 0px 10px rgba(0, 0, 0, 1);

}

.BetSlip-TotalStakeContainer {
    font-weight: 600;
    font-size: 13px;
    padding: 0px 15px 0px;
    font-family: Lato,sans-serif !important;
}

.BetSlipDeleteButton {
    padding: 0;
}

.SelectionRow {
font-weight:600 !important
}

.promobanner-container-small {
    height: 150px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.promobutton {
    padding: 6px 16px;
    min-width: 100px;
}

.BetSlip-ibox-title {
    cursor: pointer;
}

.WagersContainer {
     margin-top: 5px;
}

.Ew-Text {
    color: #707070;
    font-weight: 500;
    padding-top: 6px;
    font-size: 11px;
}
.BetSlip-Selection-Meeting {
    text-transform: none !important;
    font-size: 12px;
    color: rgb(99, 106, 128);
    font-weight: 500;
    height: 15px;
}

.BetSlip-Selection-Event {
    text-transform: none !important;
    font-weight: 500;
}

.footer-image {
    height: 35px;
    width: auto;
    margin: 3px;
}

.Padding-Top-Bottom-6px {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.Padding-Top-Bottom-8px {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.Padding-Left-0 {
    padding-left: 0px;
}

.Padding-Right-20 {
    padding-right: 30px;
}

.Padding-Right-30 {
    padding-right: 30px;
}

.Inline-Block {
    display: inline-block;
}

.featherlight .featherlight-content {
    border-radius: 15px;
}

.featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 2px;
    right: 2px;
    /* line-height: 25px; */
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial,sans-serif;
    background: #fff;
    background: none !important;
    color: #000;
}

.BetSlip-Accepted-Colour {
    color: #2ecc71;
}

.themeControll {
    background: #2e3135;
    height: auto;
    width: 100px;
    position: fixed;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    left: 0;
    padding: 20px;
    border: 1px solid #5c5c5c;
    border-left: none;
    top: 20%;
    z-index: 999999;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .5s linear,-webkit-transform .7s cubic-bezier(.56,.48,0,.99);
    -moz-transition: opacity .5s linear,-moz-transform .7s cubic-bezier(.56,.48,0,.99);
    -o-transition: opacity .5s linear,-o-transform .7s cubic-bezier(.56,.48,0,.99);
    -ms-transition: opacity .5s linear,-ms-transform .7s cubic-bezier(.56,.48,0,.99);
    transition: opacity .5s linear,transform .7s cubic-bezier(.56,.48,0,.99);
}

.MoreRow {
    Vertical-align: middle !important;
}

.themeControll a {
    border-radius: 3px;
    clear: both;
    display: block;
    height: 35px;
    margin-bottom: 10px;
    width: 50px;
    color: #000 !important;
}

.themeControll > h3 {
    color: white;
}

.Wager-Potential-Return {
    text-transform: none !important;

    font-weight: 500;
}

.Mobile-Menu {
    background: grey;
    width: 100%;
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.Mobile-Menu-Item {
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    font-size: 12px;
}

.Mobile-Menu-Item-Container {
    padding: 0;
}

.BetSlip-Accepted-Wagers {
    text-transform: none !important;
        font-size: 13px;
    color: rgb(99, 106, 128);
    font-weight: 500;
}

.BetSlip-Accepted-Container {


    font-size: 13px;

    padding: 5px 8px 0px;
    font-family: Lato,sans-serif !important;
}

.navbar-header, .container > .navbar-collapse {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.container {
    max-width: 100%;
}


.Mobile-Menu-Text {
    color: white;
}


    /*MOVE TO THEME CSS*/
    .Mobile-Menu-Text:hover {
        color: rgb(231, 186, 27);
    }


.Mobile-Menu-Link:active {
    color: rgb(231, 186, 27) ;
}

.Mobile-Menu-Link {
    color: rgb(231, 186, 27) ;
}


a:visited {
    text-decoration: none;
    decoration: none;
    /*border-color: black;*/
}

.RaceView-SilkSection {
    padding: 0px 12px;
    padding-right: 20px;
}


.BetSlip-StakeInput {
    text-align: center;
    margin-right: 5px;
    height: 25px !important;
    width: 80px !important;
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 0 !important;
}

.BetSlip-BetAccepted-Container {
    padding: 10px;


}

.BetSlip-Accepted-Item {
    font-weight: 500;
    text-transform: none;
    font-size: 13px;
    color: rgb(75, 79, 93);
}

.SilkSelectionImage {
    display: block;
}

.Horses-HorseSelection-Text {
    text-shadow: none;
    padding-left: 3px;
    padding-top: 4px;
    font-size: 12px;
    width: 10px;
}

.Horses-SilkContainer {
    vertical-align: middle !important;
    padding: 14px !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
    width: 30px !important;
    border-right: none !important;
    text-align: center !important;
}


.Greyhounds-SilkContainer {
    vertical-align: middle !important;
    padding: 14px !important;
    padding-right: 2px !important;
    width: 50px !important;
    border-right: none !important;
    text-align: center !important;
}

.Horses-SelectionContainer {
    vertical-align: middle !important;
    padding: 14px !important;
    padding-right: 0px !important;
    width: 30px !important;
    border-right: none !important;
    text-align: center !important;
}

.Admin-Container {
   background: #fafbfe;
   margin: 0;
   float: none;
}

.LivePromo >  .promobox-140 {
    border: 1px solid #cdcdcd !important;
}

#SideNavPromo > .promobox-140  {
    border: none !important;
}


/*###################### RESPONSIVE #########################*/

/* NORMAL DESKTOP SIZE*/
@media (min-width: 993px) {



    .BetSlipStuck {
        position: fixed;
        top: 80px;
        z-index: 9999;

        overflow: no-display;

    }
}


@media (min-width: 1200px) {



    .container {
        max-width: 1250px;
    }

    .side-navigation.active {
        -webkit-transform: translateX(-100%) !important;
        -moz-transform: translateX(-100%) !important;
        -ms-transform: translateX(-100%) !important;
        -o-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        -webkit-transition: -webkit-transform .45s cubic-bezier(.19,1,.22,1) !important;
        -moz-transition: -moz-transform .45s cubic-bezier(.19,1,.22,1) !important;
        -o-transition: -o-transform .45s cubic-bezier(.19,1,.22,1) !important;
        transition: transform .45s cubic-bezier(.19,1,.22,1) !important;
    }
}




/* SMALL DESKTOP  */
@media (max-width: 1170px) and (min-width: 690px) {



    .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    .HomePage-SilkSection {
        display: none !important;
    }
}


/*  TABLET AND BELOW*/
@media (max-width: 993px) {

    .LivePromo > .promobox-140, #SideNavPromo > .promobox-140 {
    border: none !important;
}

    .BetSlip-ibox {
        border: 1px solid #064221 !important;
            margin-bottom: 0px !important;
        }

    .wrapper-content {
        padding: 0 10px 40px;
    }


    .SideNav-ibox {
        margin-bottom: 15px !important;
    }


    .breadcrumb1 {
        margin-bottom: 0 !important;
        border-bottom: none !important;
    }

    .content-container-white {
        padding: 15px !important;
    }


    .ibox-content {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .two-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        column-gap: 20px;
        -moz-column-gap: 20px;
    }

    .ContentBackground {
        background: none !important;
    }





    .navbar-brand {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .breadcrumbs__navigation {
        width: auto !important;
    }


    .SelectionRow {
        font-size: 12px !important;
        font-weight: 400 !important;
    }

    .breadcrumbs__navigation2 {
        position: absolute !important;
    }


    /*  Collapse Nav */
    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .InfoNav {
        display: none;
    }

    .Mobile-Menu {
        display: inherit;
    }

    .OddsTable > .table > tbody > tr > .SelectionRow, .OddsTable > .table > tbody > tr > .SelectionRowSelected {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .HomePage-RaceContainer {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .ibox-dark {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .hide-small {
        display: none !important;
    }

    .OddsTable > .table > tbody > tr > td {
        padding: 9px;
        /*TODO*/
        /*border-bottom: 2px solid #11131d;*/
    }

    .main-content {
        padding-left: 3px;
        padding-right: 3px;
        margin: 0 !important;
        float: none !important;
    }

/*     .container {
        padding-left: 0;
        padding-right: 0;
    } */

    .sidenav-container {
        padding-left: 0;
        padding-right: 0;
    }


    .breadcrumb1 {
        margin-left: 0px;
        margin-right: 0px;
        overflow: hidden;
        border-radius: 0px !important;
    }

    .ibox-title {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .ibox-content {
        padding: 15px 10px 10px 10px;
    }
}


/* MOBILE  */
@media (max-width: 767px) {
    .OddsTable > .table > tbody > tr > td {
        padding: 7px !important;
    }

    .TimeRow {
        Display: block;
    }

    .Home-HorseSelectionName {
        min-width: 100px;
        /*position: absolute !important;*/
    }
}


.side-navigation {
    width: 230px;
    height: 200%;
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 9998 !important;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .45s cubic-bezier(.19,1,.22,1);
    -moz-transition: -moz-transform .45s cubic-bezier(.19,1,.22,1);
    -o-transition: -o-transform .45s cubic-bezier(.19,1,.22,1);
    transition: transform .45s cubic-bezier(.19,1,.22,1);
    z-index: 13;
    -webkit-overflow-scrolling: touch;
    /*TODO*/
    /*border-right: 1px solid black;
    background: #454545;*/
}

    .side-navigation.active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }


    .side-navigation > ul > li > a {
        font-family: 'Exo', sans-serif, sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
    }




    .side-navigation > ul > li {
        padding-bottom: 15px;
    }

.side-navigation-Title {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Exo', sans-serif, sans-serif !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}




@media (max-width: 380px) {
    .OddsTable > .table > tbody > tr > td {
        padding: 5px !important;
    }

    .Home-HorseSelectionName {
        min-width: 85px;
        /*position: absolute !important;*/
    }
}



.top-navbar-fixed {
    position: fixed !important;
    width: 100% !important;
    background: white !important;
    top: 0 !important;
    border-bottom: 1px solid #c8c8c8;
     -webkit-transition: top 0.5s;
    transition: top 0.5s;
    display: none;
}

.NavBar-SportsDropdownButton-fixed {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.submenu {
     -webkit-transition: top 0.5s;
    transition: top 0.5s;
}

.BetSlip-SuspendedContainer {
        padding: 15px 15px 15px;

}

.BetSlip-WarningTitle {
    color: #af3d3d;
    font-weight: 600;
    font-size: 12px;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}


.HighlightedRow > td {
    background: red !important;
    color: white;
}

.BetSlip-ConfirmationModal {
    text-align: center;
    font-size: 20px;
    height: auto;
}

.BetSlipPlaced-BetId {
    font-weight: 900;
    font-size: 140px;
    padding-top: 10px;
        margin-top: 60px;
    height: 70px;
}

.BetSlipPlaced-Subtitle {

}

.BetPlaced-DetailsContainer {
    border: 1px solid rgb(233, 233, 233);
    padding: 5px;
    padding-bottom: 10px;
}

.btn-large {
    height: 47px;
}


 .Scroll-Icon-Image {
    content: url(/Content/images/TopNav/Icon-BIZ.png);
    max-width: 42px;
    margin-top: 9px;
    margin-right: 20px;
    display: inline-block;
}

.Scroll-SubNavLinkContainer > .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
        padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.SideNav-ibox {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.Scroll-SubNavLinkContainer {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -6px;
    height: 67px !important;
    font-family: 'Exo', sans-serif, sans-serif !important;
    font-weight: 300 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none !important;
}

.nav-tabs > li.active, .nav-tabs > li {
    background: none;
}

    .nav-tabs > li > a {
        border: 0;
        border-radius: 0;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
        color: #fff !important;
        border: 0;
        border-radius: 0;
    }

    input[type="text"], input[type="password"], input[type="email"] {
    border-color: #DDDDDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    font-size: 14px;
    margin-bottom: 10px;
    height: 36px;
}

    .HorseRacing-MarketName {
        cursor: pointer;
    }

.p-20 {
    padding:20px !important;
}
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .alert {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }